################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TaskManager/Temp
TaskManager/Library/metadata/
TaskManager/Library/StateCache/
